/* reglas
selectores
declaraciones
valores */

body {
  background-color: #f6f6f6;
  margin: 0px;
}

/* header {
  background: aqua;
  color: white;
} */

/* selector de etiqueta: header - section - article - nav */
/* selector decendente: body>header>div>nav>ol>li>a */
/* selector de clase . */
/* selector de id # */

body {
  font-family: "Source Sans Pro", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Times, serif;
}

.project {
  /* border-top: solid red; */
  /* border-color: #f54291;
  border-width: 10px;
  border-style: solid;
  border-radius: 10px; */
  border: 1px solid #f54291;
  border-radius: 10px;
  /* margin: 10px; */
  margin-bottom: 10px;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project_subtitle,
.project_date,
.project_link {
  margin: 10px 0;
}
.project_description {
  font-size: 20px;
}

.project strong {
  font-weight: bold;
}

/* .project_date {
  margin: 10px 0;
} */

.project_title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project_details {
  width: 50%;
  /* display: inline-block; */
}
.project_image_container {
  width: 50%;
  /* display: flex; */
}

.project_image_container img {
  max-width: 100%;
  border: 1px solid plum;


}

/* Clean CSS here */

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
figure {
  margin: 0;
}
.header {
  background-color: #0a97b0;
  color: white;
  display: flex;
  min-height: 110px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header ol {
  display: flex;
}
.menu {
  height: inherit;
}
.header ol {
  display: flex;
  height: inherit;
}
.header ol li {
  height: inherit;
}
.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.hero {
  height: 300px;
  /* background-color: #4cd3c2; */
  /* background-image: url("images/portada.png"); */
  background-color: #4cd3c2;
  /* background-size: 500px 300px; */
  /* background-repeat: no-repeat; */
  /* background-position-x: right; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero_image {
  object-fit: cover;
}

h1 {
  font-size: 40px;
  line-height: 1.2em;
  font-weight: normal;
  color: white;
  margin: 0;
  /* margin: 10px; */
  /* font-style: italic; */
  /* letter-spacing: normal;text-transform: uppercase; */
  /* text-decoration: underline; */
}
h1 strong {
  color: #f54291;
}
h2 {
  color: #f76a8c;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 40px;
}
.footer {
  color: #393b44;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer img {
  vertical-align: middle;
}
.footer a {
  color: white;
}
.portfolio {
  background-color: #f6f6f6;
  padding: 20px;
}

.project img {
  width: 500px;
}

.event_list {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-around; */
}

.event {
  /* border: 1px solid red; */
  margin: 1%;
  width: 48%;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  background-color: blueviolet;
}

.event img {
  width: 400px;
  height: 200px;
  object-fit: cover;
}

.event_detail {
  margin: 20px 40px;
  margin-top: -40px;
  background-color: white;
  position: relative;
  padding: 20px;
  text-align: center;
}

.event_description {
  text-align: left;
}

.event_link {
  border: 1px solid red;
  padding: 5px 20px;
  text-decoration: none;
  color: #f54291;
  border-radius: 5px;
}

.event_list_title {
  margin-left: 20px;
}

.contact {
  background-color: #f6f6f6;
  color: #393b44;
  min-height: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.social {
  /* border: 1px solid blueviolet; */
}

.social_link {
  display: inline-block;
  width: 50px;
  height: 50px;
  /* border: 1px solid white; */
  background-size: 50px 50px;
  margin: 0 10px;
}

.social_link.twitter {
  background-image: url("images/008-twitter.png");
}
.social_link.facebook {
  background-image: url("images/036-facebook.png");
}
.social_link.instagram {
  background-image: url("images/029-instagram.png");
}
.social_link.github {
  background-image: url("images/github.png");
}

.form_email input {
  border-color: gray;
  border-style: solid;
  border-radius: 10px;
  padding: 10px 20px 10px 25px;
  background-image: url("images/favicon.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
}

.form_email button {
  display: block;
  background: transparent;
  color: #393b44;
  /* margin-top: 10px; */
  padding: 10px 0;
  border-radius: 10px;
  width: 100px;
  margin-top: 10px;
  /* margin: 10px auto 0; */
}

.form_email h3 {
  font-family: "Courier New", Courier, monospace;
}

.container {
  /* border: 1px solid red; */
  max-width: 1000px;
  /* width: 100%; */
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;

}

/* desktop first que empieses el MQ mas grande */

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
  .hero {
    /* min-height: 300px; */
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }
  .hero_image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
  }
  h1 {
    font-size: 2em;
    z-index: 2;
  }

}

@media screen and (max-width: 767px) {
  .headrer {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li{
    height: 50px;
    /* text-align: center; */
  }
  .header a {
    justify-content: center;
  }
  .header .logo {
    text-align: center;
    margin: auto;
  }
  .project {
    display: block;
  }
  .project_image_container {
    width: auto;
    text-align: center;
  }
  .project_details {
    width: auto;
    font-size: 16px;
  }

  .project_subtitle, .project_date, .project_link {
  margin: .4em 0;
  }

  .project_title {
    font-size: 1.5em;
    margin-bottom: .4em;
  }
  .project_link {
    font-size: 1em;

  }
  .project_subtitle{
    font-size: 1.2em;

  }
  .project_date {
    font-size: 1em;

  }

  .project_description {
    font-size: .8em;

  }

  .event {
    width: auto;
    flex-shrink: 1;
  }

  .event img {
    width: 100%;
  }

@media screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .event_detail {
    margin: -2em .5em .5em;
    padding: 1em;
  }

  .contact {
    height: auto;
    /* padding: 1em 0; */
    text-align: center;
    display: block;
  }

  .form_email button {
    margin: 1em auto;
  }

  .form_email h3 {
    margin-top: 0;
  }

  .footer {
    display: block;
    text-align: center;
    border: 1px solid transparent;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
  }
  .hero {
    padding: 2em 1em;
  }
}